<% def msg(status) return "#{status}" end %>
  <div>
    <h2>Create an Acccount</h2>
    <%= form_for @user do |f| %>
      <%= form_group_for f, :name, label: false  do %>
        <div>
          <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
        </div>
      <% end %>  
       <%= form_group_for f, :email, label: false  do %>
        <div class="input-group">
          <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
        </div>
      <% end %>                 
      <%= form_group_for f, :password, label: false  do %>
        <div>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
        </div>
      <% end %>
      <%= f.submit("Submit", class:"btn btn-primary") %>
    <% end %>
  </div>    
</div>

# data: {:confirm => msg('Do you want to create account?'), :disable_with => 'Creating'}