<div class="container">

<h2><%= @user.name %>'s Wall</h2>
<% if current_user.id == @user.id %>
<div class="dropdown" style="margin-bottom:20px;">
  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose background
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <button class="colour-btn purple-btn"><span id="purple">.</span></button>
  <button class="colour-btn blue-btn"><span id="blue">.</span></button>
  <button class="colour-btn grey-btn"><span id="grey">.</span></button>
  <button class="colour-btn white-btn"><span id="white">.</span></button>

  </div>
</div>
<% end %>

<%= form_for @new_post, url: url_for(controller: 'posts', action: 'create') do |form| %>
  <div class="form-group">
  <%= form.text_area :message, placeholder: @placeholder, :class => "form-control box-area" %>
  <%= form.hidden_field :wall_id, value: params[:id] %>
  </div>
  <div class="form-group">
  <%= form.submit "Post to #{@user.name}'s wall", :class => "btn btn-primary orange-button" %>
  </div>
<% end %>

<% @posts.each do |post| %>

  <div class="card box-area post-box d-flex flex-row">
  <div class="card-body">
    <div>
    <%= link_to post.user.name, user_path(post.user), :class => "orange-text"%>
    </div>
    <div class="grey-text">
      <%= distance_of_time_in_words_to_now(post.created_at)%> ago
    </div>
    <%= simple_format(post.message) %>
    <hr>
    <h5>Comments</h5>
    <hr>
    <% post.comments.each do |comment|%>
      <div class="media">
        <div class="media-body">
          <h6 class="media-heading user_name" style="color: #f59a00"><%=comment.user.name%></h6>
          <div class="grey-text">
            <%= distance_of_time_in_words_to_now(comment.created_at)%> ago
          </div>
          <p><%=comment.body%></p>
          <%= link_to 'Edit', edit_comment_path(comment) %>
          <%= link_to "Delete", comment_path(comment), :method => :delete %>
          <hr>
        </div>
      </div>
    <%end%>

      <%= form_for @comment, url: url_for(controller: 'comments', action: 'create') do |form| %>
      <div class="form-group">
        <%= form.text_area :body, :placeholder => "Write a comment...", :class => "form-control box-area"  %>
      </div>
        <%= form.hidden_field :post_id, value: post.id %>
      <div class="form-group">
        <%= form.submit  %>
      </div>
      <% end %>

</div>

<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
  <%= link_to "Edit Post", edit_post_path(post), :class => "dropdown-item" %>
  <%= link_to "Delete Post", post_path(post), :method => :delete, :class => "dropdown-item" %>
  </div>

  </div>
</div>

<% end %>

</div>
