
<h2>Welcome <%=current_user.name.capitalize%></h2>
<br>
<%= form_for @new_post do |form| %>
  <div class="form-group">
    <%= form.text_area :message, placeholder: "What's on your mind?", :class => "form-control box-area" %>
    <%= form.hidden_field :wall_id, value: 0 %>
  </div>
  <div class="form-group">
    <%= form.submit "Post", :class => "btn btn-primary orange-button"  %>
  </div>
<% end %>



<%if @posts%>
  <% @posts.each do |post| %>

    <div class="card box-area post-box d-flex flex-row">
      <div class="card-body">
        <%= link_to post.user.name, user_path(post.user), :class => "orange-text"%>
      </div>
      <div class="grey-text">
        <%= distance_of_time_in_words_to_now(post.created_at)%> ago
      </div>
     <p><%= simple_format(post.message) %></p>
    <hr>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="page-header">
            <h5> Comments </h5>
            <hr>
          </div> 
          <div class="comments-list">

            <% post.comments.each do |comment|%>
              <div class="media">
                <div class="media-body">
                  <h6 class="media-heading user_name" style="color: #f59a00"><%=comment.user.name%></h6>
                  <%=comment.body%>    
                  <p class="pull-right"><small><%= distance_of_time_in_words_to_now(comment.created_at)%> ago</small></p>
                  <hr>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>

      <% post.comments.each do |comment|%>
        <%=comment.user.name%> - <%=comment.body%><br>
        <%= link_to 'Edit', edit_comment_path(comment) %>
        <%= link_to "Delete", comment_path(comment), :method => :delete %>
      <%end%>

    <%= form_for @comment, url: url_for(controller: 'comments', action: 'create') do |form| %>
      <div class="form-group">
        <%= form.text_area :body, :placeholder => "Write a comment...", :class => "form-control box-area"  %>
      </div>
      <%= form.hidden_field :post_id, value: post.id %>
      <div class="form-group">
        <%= form.submit "Add Comment", :class => "btn btn-primary orange-button"  %>
      </div>
    <% end %>
  </div>
</div>


<div class="dropdown show" >
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #f59a00; border-color: #f59a00 " >
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to "Edit Post", edit_post_path(post), :class => "dropdown-item" %>
    <%= link_to "Delete Post", post_path(post), :method => :delete, :class => "dropdown-item" %>
  </div>

</div>

<% end %>
<%end%>



