<div class="container">
<h2>Welcome <%=current_user.name%></h2>
  <br>
  <%= form_for @new_post do |form| %>
      <div class="form-group">
    <%= form.text_area :message, placeholder: "What's on your mind?", :class => "form-control box-area" %>
    <%= form.hidden_field :wall_id, value: 0 %>
  </div>
    <div class="form-group">
      <%= form.submit "Post", :class => "btn btn-primary orange-button"  %>
      </div>
  <% end %>



<%if @posts%>
<% @posts.each do |post| %>

<div class="card box-area post-box d-flex flex-row">
  <div class="card-body">
      <div>
      <%= link_to post.user.name, user_path(post.user), :class => "orange-text"%>
      </div>
      <div class="grey-text">
        <%= distance_of_time_in_words_to_now(post.created_at)%> ago
      </div>
       <%= simple_format(post.message) %>


      <h6>Comments</h6>

      <% post.comments.each do |comment|%>
        <%=comment.user.name%> - <%=comment.body%>
        <%= link_to 'Edit', edit_comment_path(comment) %>
      <%end%>

        <%= form_for @comment, url: url_for(controller: 'comments', action: 'create') do |form| %>
        <div class="form-group">
          <%= form.text_area :body, :placeholder => "Write a comment...", :class => "form-control box-area"  %>
        </div>
          <%= form.hidden_field :post_id, value: post.id %>
        <div class="form-group">
          <%= form.submit  %>
        </div>
        <% end %>
      </div>
  </div>
<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
  <%= link_to "Edit Post", edit_post_path(post), :class => "dropdown-item" %>
  <%= link_to "Delete Post", post_path(post), :method => :delete, :class => "dropdown-item" %>
  </div>
  
  </div>
</div>
  
<% end %>
<%end%>
</div>

