<p id=”notice”><%= notice %></p>

<% if current_user %>
  Welcome <%= current_user.name %>
  <br>
 <%= link_to "Logout", logout_path %>
<br>
<% else %>
  <%= link_to "Sign Up!", signup_path %>
<br>
  <%= link_to "Log In", login_path %>
<br>
<% end %>
<ul>
<% @posts.each do |post| %>
  <li><%=post.created_at.strftime("%d %b %Y at %k:%M") %><br><%= simple_format(post.message) %></li>
<% end %>
</ul>
<%= link_to "New Post", new_post_path %>

