<% if current_user%>
  Welcome <%=current_user.name%>
  <br>
  <%= form_for @post do |form| %>
    <%= form.label :message %>
    <%= form.text_area :message, placeholder: "What's on your mind?" %>
    <%= form.hidden_field :wall_id, value: 0 %>

    <%= form.submit "Submit" %>
  <% end %>
  <!--
  <%= link_to "New Post", new_post_path %>
  -->
  <br>
  <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
  <br>
<%else%>
  <%= link_to "Sign Up!", new_user_registration_path %>
  <br>
  <%= link_to "Log In", new_user_session_path %>
  <br>
<%end%>


<ul>
<%if @posts%>
  <% @posts.each do |post| %>
    <p> <%=post.created_at.strftime("%d %b %Y at %k:%M") %><br><%= simple_format(post.message) %><%= post.user.name %></p>
    <%= link_to "Edit Post", edit_post_path(post) %>
    <%= link_to "Delete Post", post_path(post), :method => :delete %>
  <% end %>
<%end%>
